// Typography
  // New Fonts
@font-face {
  font-family: "Chunkfive";
  src: font-url(/assets/Chunkfive) format("opentype");
}

@font-face {
  font-family: "Geoma Thin";
  src: font-url(/assets/Geoma-Thin-Demo) format("opentype");
}

@font-face {
  font-family: "Los Angeleno Sans";
  src: font-url(/assets/Los-Angeleno-Sans) format("truetype");
}

// @include font-face("Chunkfive",
//                   "fonts/Chunkfive",
//                   $asset-pipeline: true,
//                   $file-formats: otf);

// @include font-face("Geoma Thin",
//                 "fonts/Geoma-Thin-Demo",
//                 $asset-pipeline: true,
//                 $file-formats: otf);

// @include font-face("Los Angeleno Sans",
//                 "fonts/Los-Angeleno-Sans",
//                 $asset-pipeline: true,
//                 $file-formats: ttf);

$base-font-family: "Chunkfive";
$heading-font-family: $base-font-family;
$sans-serif: 'Nunito', sans-serif;
$sans-serif-2: 'Varela Round', sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$pod-margin: 5px 10px 5px 10px;


// Colors
$blue: #001f3f;
$dark-gray: #333;
$medium-gray: #eee;
$light-gray: #ddd;

// Font Colors
$base-background-color: $medium-gray;
$base-font-color: $blue;
$base-navfont-color: white;
$action-color: $blue;
$base-navbar: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
