/*AIR QUALITY TRACKER*/

.air-quality-container {
  @include span-columns(6);
  height: em(250);
}

#air-quality {
  border-radius: $base-border-radius;
  height: em(240);
  width: em(310);
  border: $base-border;
  margin: 5px 0px 5px 20px;
  box-shadow: 0 2px 4px darken($base-background-color, 10%)
}