.air-temp-container {
  @include span-columns(6);
  @include omega();
  height: em(250);
}

#air-temp {
  border-radius: $base-border-radius;
  @include fill-parent;
  height: em(240);
  width: em(700);
  border: $base-border;
  margin: 5px 10px 5px 10px;
  box-shadow: 0 2px 4px darken($base-background-color, 10%)
}

#slider4 {
 width: 300px;
 top: 70px;
 right: 48px;
 position: absolute;
}