/*DEFORESTATION TRACKER*/
#deforestation{
  position: relative;
}

#piebox {
  position: relative;
  width: 100%;
  height: 100%;
}

#piechart {
  top: 25%;
  left: 25%;
  position: absolute;
}

#pieChartStat{
    // position: absolute;
    line-height: em(100);
    text-align: center;
    color: $blue;
    width: em(100);
    font-size: 68px;
    font-family: $Geoma-font-family;
}

#us-text {
  font-family: $Geoma-font-family;

}