/*GLACIER MELTING + SEA LEVEL RISE*/

#glaciar-sealevel {
  position: relative;
  background-image: url("glacier.jpg");
  background-size: cover;
}

.glaciar-sealevel-container {
  @include span-columns(6);
  height: em(250);
}

// #glaciar-sealevel {
//   border-radius: $base-border-radius;
//   font-family: $sans-serif;
//   height: em(240);
//   width: em(705);
//   border: $base-border;
//   margin: 5px 5px 5px 10px;
//   box-shadow: 0 2px 4px darken($base-background-color, 10%)
// }

// .glacier-svg {
//   position: relative;
//   top: 50%;
//   transform: translateY(-10%);
// }

path { 
  stroke: steelblue;
  stroke-width: 2;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Lato;
    font-size: 13px;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}

.bar1 {
  fill: steelblue;
}

.bar2 {
  fill: orange;
}

.headerbox1 {
  text-align: center;
}
