.glaciar-sealevel-container {
  @include span-columns(6);
  height: em(250);
}

#glaciar-sealevel {
  border-radius: $base-border-radius;
  height: em(240);
  width: em(700);
  border: $base-border;
  margin: 5px 10px 5px 10px;
}

.glacier-svg {
  margin-top: 20px;
}

path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}
.circle {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.bar1 {
  fill: steelblue;
}

.bar2 {
  fill: orange;
}
