/*SEA TEMP TRACKER*/

.sea-temp-container {
  @include span-columns(4);
  @include omega();
  height: em(500);
}

#sea-temp {
  border-radius: $base-border-radius;
  height: em(500);
  width: em(290);
  border: $base-border;
  margin: 5px 10px 5px 10px;
  box-shadow: 0 2px 4px darken($base-background-color, 10%)
}