/*GENERAL*******************************************************************************/

html {
  box-sizing: border-box;
  background-color: $base-background-color;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.navbar {
  background-color: $base-navbar;
  height: em(60);
}

.dashboard {
  @include outer-container;
}

.pod {
  background-color: white;
}

.bottomcontainer {
  @include span-columns(8);
  height: em(500);
  @include outer-container;
}


