/*GENERAL*******************************************************************************/

html {
  box-sizing: border-box;
  background-color: $base-background-color;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.navbar {
  background-color: $base-navbar;
  height: em(60);
  position: relative;
}

.apptitle {
  font-family: $base-font-family;
  width: 15%;
  color: $base-navfont-color;
  margin: 0 0 12px 12px;
  font-size: 50px;
  vertical-align: middle;
}

.dashboard {
  @include outer-container;
}

.pod {
  background-color: white;
}

.bottomcontainer {
  @include span-columns(8);
  height: em(500);
  @include outer-container;
}


