
/*GENERAL*******************************************************************************/
html {
  box-sizing: border-box;
  background-color: $base-background-color;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.navbar {
  background-color: $base-navbar;
  height: em(60);
}

.dashboard {
  @include outer-container;
}

.pod {
  background-color: white;
}

.air-quality-container {
  @include span-columns(6);
  height: em(200);
}

#air-quality {
  border-radius: $base-border-radius;
  height: em(190);
  width: em(700);
  border: $base-border;
  margin: 5px 10px 5px 10px;
}

#sea-level {
  @include span-columns(6);
  border: $base-border;
  height: em(200);
  border-radius: $base-border-radius;
  @include omega;
}

#sea-temp {
  @include span-columns(6);
  border: $base-border;
  height: em(200);
  border-radius: $base-border-radius;
}

#air-temp {
  @include span-columns(6);
  border: $base-border;
  height: em(200);
  border-radius: $base-border-radius;
  @include omega;
}
