@import "bourbon";
@import "base/base";
@import "neat";

svg {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


#fadein{
  opacity: 100;
  animation-name: fadein;
  animation-duration: 3s;
  animation-iteration-count: 1;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes fadein{
    0%{background-color: transparent;
       position: absolute;
      opacity: 0;
      }
     44%{background-color: transparent;
      position: absolute;
      opacity: 50;
      }
    100%{background-color: transparent;
      position: absolute;
      opacity: 100;
      }

}

.welcome{
  position: absolute;
  color: $light-gray;
  padding-top: 15%;
  padding-left: 15%;
  opacity: 0;
  
}

.welcome a{
 color: white;
}

#header{
  font-size: 50px;
  @include animation(scale 1.0s ease-in, slide 2.0s ease);

  // The above outputs the same CSS as using independent, granular mixins.
  @include animation-name(scale, slide);
  @include animation-duration(2s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);

}

#splashbutton{
  border: solid white 1px;
  margin-top: 44px;
}

.cycle{
  border: solid white 1px;
  margin-top: 44px;
  width:350px;
  height: 350px;
}

#icon1{
  background-image: image-url("factory.png");
  width: 100px;
  height: 100px;
  z-index: 0;
  position: absolute;
  display: inline-block;
  background-image: image-url("icon-bear.png");

 
}
#icon2{
  background-image: image-url("thermometer.jpg");
  width: 100px;
  height: 100px;
  z-index: 0;
  position: absolute;
  display: inline-block;
}

#icon3{
  background-image: image-url("watertemp.png");
  width: 100px;
  height: 100px;
  z-index: 0;
  position: absolute;
  display: inline-block;
}
#icon4{
  width: 100px;
  height: 100px;
  z-index: 0;
  position: absolute;
  display: inline-block;
  background-image: image-url("icon-bear.png");
}
#icon5{
  width: 100px;
  height: 100px;
  z-index: 0;
  position: absolute;
  display: inline-block;
  background-image:image-url('tree.png');
}


