<!-- NAVIGATION *************************************************-->

<header>
  <div class="navbar">
    <h1 class="apptitle"> Aware </h1>

  </div>  
</header>

<!-- MAIN DASHBOARD *********************************************-->

<!-- ANIMAL TRACKER *********************************************-->
 <div class="grid-items">
  <div class="grid-item" id="animal-tracker">
    <!-- MODAL *********************************************-->
    <div class="modal">
      <label for="modal-species">
        <div class="modal-trigger"><i class="fa fa-question-circle"></i></div>
      </label>
      <input class="modal-state" id="modal-species" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-species"></div>
          <h1>The Top 10 Endangered Species</h1>
          <p class="modal-intro">This is a list of the top 10 critically endangered species in the world today. Most of which wont survive the next 20 years.</p>
          <p class="modal-content">Around the world hundreds of thousands of species are lost to extinction, many of them only discovered as remains, after they are gone. Thus, not only biological variability, but also genetic diversity, and perhaps sources of livelihood for future generations are lost. An endangered species is a species that may become extinct in the near future. Throughout history millions of species have disappeared, due to natural processes. In the past 300 years, however, humans have increased the rate of extinction.</p>
        </div>
      </div>
    </div>
   <span class="label">Endangered Species</span>
   <!-- D3 ELEMENTS APPENDED IN -->
  </div>

<!-- GLACIER-SEALEVEL *********************************************-->
  <div class="grid-item grid-item-big" id="glaciar-sealevel">
    <!-- MODAL *********************************************-->
    <div class="modal">
      <label for="modal-sealevel">
        <div class="modal-trigger"><i class="fa fa-question-circle"></i></div>
      </label>
      <input class="modal-state" id="modal-sealevel" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-sealevel"></div>
          <h1>Our Melting Planet</h1>
          <p class="modal-intro">Everywhere on Earth ice is changing. The famed snows of Kilimanjaro have melted more than 80 percent since 1912. Glaciers in the Garhwal Himalaya in India are retreating so fast that researchers believe that most central and eastern Himalayan glaciers could virtually disappear by 2035.</p>
          <p class="modal-content">Arctic sea ice has thinned significantly over the past half century, and its extent has declined by about 10 percent in the past 30 years. NASA's repeated laser altimeter readings show the edges of Greenland's ice sheet shrinking. Spring freshwater ice breakup in the Northern Hemisphere now occurs nine days earlier than it did 150 years ago, and autumn freeze-up ten days later. Thawing permafrost has caused the ground to subside more than 15 feet (4.6 meters) in parts of Alaska. From the Arctic to Peru, from Switzerland to the equatorial glaciers of Man Jaya in Indonesia, massive ice fields, monstrous glaciers, and sea ice are disappearing, fast.</p>
        </div>
      </div>
    </div>
   <span class="label">Sea Level Rise vs Glacier Melt Rate</span>
   <!-- D3 ELEMENTS APPENDED IN -->
  </div>

<!-- AIR TEMPURATURE *********************************************-->
  <div class="grid-item grid-item-big" id="airtempbox">
  <!-- MODAL *********************************************-->
    <div class="modal">
      <label for="modal-airtemp">
        <div class="modal-trigger"><i class="fa fa-question-circle"></i></div>
      </label>
      <input class="modal-state" id="modal-airtemp" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-airtemp"></div>
          <h1>It's Getting Hot in Here</h1>
          <p class="modal-intro">Between 1998 and 2012, climate scientists observed a slowdown in the rate at which the Earth's surface air temperature was rising. While the rise in global mean surface air temperature has continued, between 1998 and 2012 the increase was approximately one third of that from 1951 to 2012.</p>
          <p class="modal-content">Despite this, many scientists have started to dismiss this very recent trend as being a small fluctuation and a trend thats made our oceans absorb the excess heat given off by human carbon emissions. What we now know is that the ocean is abosorbing some 90% of our planets trapped heat.</p>
        </div>
      </div>
    </div>
    <span class="label">Global Temperature</span>
    <div id="yeartempbox">
      <h2 id="slider4text">Year: 1961</h2>
      <h2 id="slider4text2">Temp: 6 degrees Celcius</h2>
    </div>
    <div id="mapbox">
      <div id="vmap">
      </div>
      <div id="slider4"></div>
    </div>
   <!-- D3 ELEMENTS APPENDED IN -->
  </div>

<!-- AIR QUALITY *********************************************-->
  <div class="grid-item" id="air-quality">
  <!-- MODAL *********************************************-->
    <div class="modal">
      <label for="modal-air-quality">
        <div class="modal-trigger"><i class="fa fa-question-circle"></i></div>
      </label>
      <input class="modal-state" id="modal-air-quality" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-air-quality"></div>
          <h1>Don't Hold Your Breath , or Maybe You Should.</h1>
          <p class="modal-intro">Smog hanging over cities is the most familiar and obvious form of air pollution. But there are different kinds of pollution—some visible, some invisible—that contribute to global warming. Generally any substance that people introduce into the atmosphere that has damaging effects on living things and the environment is considered air pollution.</p>
          <p class="modal-content">Carbon dioxide, a greenhouse gas, is the main pollutant that is warming Earth. Though living things emit carbon dioxide when they breathe, carbon dioxide is widely considered to be a pollutant when associated with cars, planes, power plants, and other human activities that involve the burning of fossil fuels such as gasoline and natural gas. In the past 150 years, such activities have pumped enough carbon dioxide into the atmosphere to raise its levels higher than they have been for hundreds of thousands of years.</p>
        </div>
      </div>
    </div>
   <span class="label">Air Quality: 2000 - 2015</span>
   <!-- D3 ELEMENTS APPENDED IN -->
  </div>

<!-- CO2 TRACKER *********************************************-->
  <div class="grid-item" id="c02-tracker">
  <!-- MODAL *********************************************-->
    <div class="modal">
      <label for="modal-co2">
        <div class="modal-trigger"><i class="fa fa-question-circle"></i></div>
      </label>
      <input class="modal-state" id="modal-co2" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-co2"></div>
          <h1>Carbon Emissons Are Only Going Up</h1>
          <p class="modal-intro">Carbon dioxide (CO2) emissions are the common type of gas emitted from the burning of fossil fuels. The higher the carbon content in the fossil fuel or the more inefficient the burning process is, generally the more CO2 that is produced.</p>
          <p class="modal-content">CO2, like all greenhouse gases does not absorb light waves (like those emitted from the Sun as Sun light) however when that sun light strikes the earth it is converted into heat waves which are radiated back into space. CO2 absorbs heat waves because they have longer wave lengths than sun light does, thus stopping the heat from being reflected into space. This is called the "greenhouse effect" and has been linked by scientists to global climate change.</p>
        </div>
      </div>
    </div>
    <span class="label">CO2 Emissions</span>
    <!-- D3 ELEMENTS APPENDED IN -->
  </div>

<!-- SEA TEMPURATURE *********************************************-->
  <div class="grid-item" id='sea-temp'>
  <!-- MODAL *********************************************-->
    <div class="modal">
      <label for="modal-sea-temp">
        <div class="modal-trigger"><i class="fa fa-question-circle"></i></div>
      </label>
      <input class="modal-state" id="modal-sea-temp" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-sea-temp"></div>
          <h1>A Boiling Pot</h1>
          <p class="modal-intro">As climate change has warmed the Earth, oceans have responded more slowly than land environments. But scientific research is finding that marine ecosystems can be far more sensitive to even the most modest temperature change. 
</p>
          <p class="modal-content">Warmer sea temperatures are also associated with the spread of invasive species and marine diseases. The evolution of a stable marine habitat is dependent upon myriad factors, including water temperature. If an ecosystem becomes warmer, it can create an opportunity where outside species or bacteria can suddenly thrive where they were once excluded. This can lead to forced migrations and even species extinctions. The only way to reduce ocean temperatures is to dramatically reign in our emission of greenhouse gases. </p>
        </div>
      </div>
    </div>
    <span class="label">Sea Temperature Rise</span>
    <div id="axis" class="seatemp"></div>
   <!-- D3 ELEMENTS APPENDED IN -->
  </div>

<!-- DEFORESTATION *********************************************-->
  <div class="grid-item" id='deforestation'>
  <!-- MODAL *********************************************-->
    <div class="modal">
      <label for="modal-deforestation">
        <div class="modal-trigger"><i class="fa fa-question-circle"></i></div>
      </label>
      <input class="modal-state" id="modal-deforestation" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-deforestation"></div>
          <h1>Deforestation in the United States since 1800</h1>
          <p class="modal-intro">Deforestation is the permanent destruction of forests in order to make the land available for other uses. </p>
          <p class="modal-content">Deforestation in the United States is affected by many factors. One such factor is the effect, whether positive or negative, that the logging industry has on forests in the country. Logging in the United States is a hotly debated topic as groups who either support or oppose logging argue over its benefits and negative effects. Forest cover in the Eastern United States reached its lowest point in roughly 1872 with about 48 percent compared to the amount of forest cover in 1620.</p>
        </div>
      </div>
    </div>
    <span class="label">US Deforestation Since 1800</span>
    <div id="piebox">
      <div id="piechart"></div>
      <!-- D3 ELEMENTS APPENDED IN -->
    </div>
  </div>
</div>



































  <!-- MAIN DASHBOARD *********************************************-->

  <!-- <div class="dashboard">
    <div class="glaciar-sealevel-container">
      <div class="pod" id="glaciar-sealevel">
        <div class="headerbox1">
          <h1 id="pod-headers"> Glacier Watch </h1>
          
          <div class="pod-tooltip-item">
            <i class="fa fa-question-circle" id="tooltip-position"></i>

            <div class="pod-tooltip">
              <p>Lorem ipsum doldae oluptate aperiam unde voluptates quas.</p>
            </div>

          </div>
        </div> -->
        <!-- D3 ELEMENTS APPENDED IN -->

      <!-- </div>
    </div> -->

    <!-- <div class="air-temp-container">
      <div class="pod" id="air-temp"> -->
     <!--    <div class="wrapper"> -->

          <!-- D3 ELEMENTS APPENDED IN -->
            <!-- <div id="yeartempbox">
              <h1 id="pod-headers"> Global Air Temperature <h1>

              <h2 id="slider4text">Year: 1961</h2>

              <h2 id="slider4text2">Temp: 6 degrees Celcius</h2>
            </div>
            <div id="slider4"></div>
            <div id="mapbox">
              <div id="vmap" style="width: 400px; height: 200px;"></div>


            </div> -->

       <!--  </div> -->
     <!--  </div>  
    </div>

    <div class="animal-tracker-container">
      <div class="pod" id="animal-tracker"> -->

          <!-- D3 ELEMENTS APPENDED IN -->
        
     <!--  </div>
    </div> -->

    <!-- BOTTOM CONTAINER -->
    <!-- <div class="bottomcontainer">

      <div class="air-quality-container">
        <div class="pod" id="air-quality"> -->
          
          <!-- D3 ELEMENTS APPENDED IN -->

       <!--  </div>
      </div>

     <div class="deforesation-container">
      <div class="pod" id="deforesation">
        <div id="statThree">
          <div id="piechart"> -->

          <!-- D3 ELEMENTS APPENDED IN -->

            <!-- <span id="pieChartStat"><b>90%</b></span>
          </div>
            <i id="us-text">of the US indigenous forest 
            has been removed since 1600.</i>
          </div>  
        </div>
      </div> -->

      <!-- <div class="c02-tracker-container">
        <div class="pod" id="c02-tracker"> -->

        <!-- D3 ELEMENTS APPENDED IN -->

       <!--  </div>
      </div>

    </div>

    <div class="sea-temp-container">
      <div id="axis" class="seatemp"></div>
      <div class="pod" id="sea-temp">
 -->
        <!-- D3 ELEMENTS APPENDED IN -->

      <!-- </div>
    </div>
  </div> -->

