<header>
  <div class="navbar">
    
  </div>  
</header>
<div class="dashboard">
  <div class="glaciar-sealevel-container">
    <div class="pod" id="glaciar-sealevel">
      
    </div>
  </div>
  <div class="pod" id="sea-level"></div> 
  <div class="pod" id="sea-temp"></div>
  <div class="pod" id="air-temp"></div>
  <div class="pod" id="c02-tracker"></div>
  <div class="pod" id="animal-tracker"></div>
  <div class="pod" id="air-quality"></div>
  <div class="pod" id="deforesation"></div>
</div>

<footer></footer>








<!-- <svg id="airQualityGraph"></svg> -->

<!-- Total Deaths from Air Quality Statistics -->
<!-- <div class="airQualityDeaths">
  <h5>Total # Deaths attributed to Air Quality</h5>
   <div class="totalDeaths" ng-repeat="airquality in climatectrl.airquality">    
    <tr>
    <th><b>{{airquality.region}}</b></th>
    </tr>
    <tr>
    <td>{{airquality.deaths}}</td>
    </tr>
  </div>
</div>  -->