<!-- NAVIGATION *************************************************-->


  <header>
    <div class="navbar">
      <h1 class="apptitle"> Aware </h1>
      
    </div>  
  </header>

  <!-- MAIN DASHBOARD *********************************************-->

  <div class="dashboard">
    <div class="glaciar-sealevel-container">
      <div class="pod" id="glaciar-sealevel">
        <div class="headerbox1">
        <h1 id="pod-headers"> Glacier Watch <h1>
        </div>
        <!-- D3 ELEMENTS APPENDED IN -->

      </div>
    </div>

    <div class="air-temp-container">
      <div class="pod" id="air-temp">
     <!--    <div class="wrapper"> -->

          <!-- D3 ELEMENTS APPENDED IN -->
            <div id="yeartempbox">
              <h1 id="pod-headers"> Global Air Temperature <h1>

              <h2 id="slider4text">Year: 1961</h2>

              <h2 id="slider4text2">Temp: 6 degrees Celcius</h2>
            </div>
            <div id="slider4"></div>
            <div id="mapbox">
              <div id="vmap" style="width: 400px; height: 200px;"></div>


            </div>

       <!--  </div> -->
      </div>  
    </div>

    <div class="animal-tracker-container">
      <div class="pod" id="animal-tracker">

          <!-- D3 ELEMENTS APPENDED IN -->
        
      </div>
    </div>

    <!-- BOTTOM CONTAINER -->
    <div class="bottomcontainer">

      <div class="air-quality-container">
        <div class="pod" id="air-quality">
          
          <!-- D3 ELEMENTS APPENDED IN -->

        </div>
      </div>

     <div class="deforesation-container">
      <div class="pod" id="deforesation">
        <div id="statThree">
          <div id="piechart">

          <!-- D3 ELEMENTS APPENDED IN -->

            <span id="pieChartStat"><b>90%</b></span>
          </div>
            <i id="us-text">of the US indigenous forest 
            has been removed since 1600.</i>
          </div>  
        </div>
      </div>

      <div class="c02-tracker-container">
        <div class="pod" id="c02-tracker">

        <!-- D3 ELEMENTS APPENDED IN -->

        </div>
      </div>

    </div>

    <div class="sea-temp-container">
      <div id="axis" class="seatemp"></div>
      <div class="pod" id="sea-temp">

        <!-- D3 ELEMENTS APPENDED IN -->

      </div>
    </div>
  </div>















<!-- <svg id="airQualityGraph"></svg>

<!-- Total Deaths from Air Quality Statistics -->
<!-- <div class="airQualityDeaths">
  <h5>Total # Deaths attributed to Air Quality</h5>
   <div class="totalDeaths" ng-repeat="airquality in climatectrl.airquality">    
    <tr>
    <th><b>{{airquality.region}}</b></th>
    </tr>
    <tr>
    <td>{{airquality.deaths}}</td>
    </tr>
  </div>
</div> 