<!-- Total Deaths from Air Quality Statistics -->
<div class="airQualityDeaths">
  <h5>Total # Deaths attributed to Air Quality</h5>
   <div class="totalDeaths" ng-repeat="airStats in climatectrl.airStats">    
    <tr>
    <th><b>{{airStats.region}}</b></th>
    </tr> 
    <tr>
    <td>{{airStats.deaths}}</td>
    </tr>
  </div>
</div> 
</br>
<!-- Deforestation Info -->
<div class="deforestation">
  <h4>Deforestation Statistics</h4>
  <div id="statOne">
    
    <p>About 36 football fields worth of trees lost every minute</p>

  <div id"statTwo">
    <p>An estimated 18 million acres (7.3 million hectares) of forest, which is roughly the size of the country of Panama, are lost each year.</p>
  </div>
  <div id="statThree">
   <div id="piechart">
    <span id="pieChartStat"><b>90%</b></span></div>
    <i>of continental United States’ indigenous forest has been removed since 1600.</i>
  </div>    
  <div id= "statFour">
    <p>300 billion tons of carbon, 40 times the annual greenhouse gas emissions from fossil fuels, is stored in trees, according to Greenpeace.</p>
  </div>
  <div id="statFive">
    <p>According to National Geographic, 70 % of the world’s plants and animals live in forests and are losing their habitats to deforestation.</p>
  </div> 
</div>
