<!DOCTYPE html>
<html ng-app="ChangesApp">
<head>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <title>Aware</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>



<%= yield %>

<!-- FOOTER *********************************************-->



<%= javascript_include_tag 'application' %>

</body>
</html>
